{% extends "base.html" %}
{% block title %}
Design
{% endblock %}
{% block main %}

<div class="container mainblock">
  <div>
    <h2 class="heading-color" style="text-align: center"><i> Identifying the mutant peptides that can induce IL-13</i></h2>
  </div>
  <hr>
  <br />
  <div class="container" style="text-align: justify;">
    <h6><i>
      This module generates all potential mutants of a given peptide. All the residues of a protein are mutated one at a time while keeping the remaining amino acids of the peptide constant. This module can be used to identify the mutants that might have the highest IL-13 induction ability. In case a peptide sequence is greater than 35 amino acids, then the probability of IL-13 induction will be calculated using the first 35 amino acids only.
      <br>
      For more help please visit <a style="text-decoration: none;" href="{{request.script_root}}/help">Help</a>
    </i></h6>
  </div>
  <br>
  <hr>
  <form method="POST" action="{{request.script_root}}/design" enctype="multipart/form-data">
    <div class="form-group">
      <p>
        <b>Please paste or type amino acid sequence of your peptide in single letter code only:
        </b>
      </p>
      <button type="button" class="btn btn-secondary btn-sm" onclick="design_sample()">
        Example Sequence
      </button>
      <button type="button" class="btn btn-secondary btn-sm"
        onclick="document.getElementById('design_input_area').value =''">
        Clear Input
      </button>
      <textarea class="form-control input_area" id="design_input_area" name="sequence" rows="3"
        placeholder="type or paste here"></textarea>
    </div>
    <p>
      <hr>
      <h5>eXtreme Gradient Boosting Probability Threshold:
      </h5>
   (Enter value between 0.00 to 1.00)<b> :</b>

      <input type="number" step="0.01" name="threshold" id="threshold" min="0.00" max="1" required />
    </p><br>
    <div style="margin-left: 30%;">
    <a href="{{request.script_root}}/design"><button type="button" class="btn btn-secondary btn-lg" >
        Clear All
      </button></a>
    <button type="submit" class="btn btn-secondary btn-lg" >
      Result
    </button>
    </div>
  </form>
</div>
<script type="text/javascript">
  var uploadField = document.getElementById("seqfile");

  uploadField.onchange = function () {
    var allowedExtensions = /(\.txt)$/i;
    var filePath = uploadField.value;
    if (!allowedExtensions.exec(filePath)) {
      alert('Invalid file type');
      uploadField.value = '';
      return false;
    }
    if (this.files[0].size > 1048576) {
      alert("File is too big!");
      this.value = "";
    }
  }
  document.getElementById("seqfile").addEventListener("change", function () {
    var file = new FileReader();
    file.onload = () => {
      document.getElementById("input_area").value = file.result;
    };
    file.readAsText(this.files[0]);
  });
</script>
<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("slider_value");
  output.innerHTML = slider.value;

  slider.oninput = function () {
    output.innerHTML = this.value;
  };
</script>
{% endblock %}