{% extends "base.html" %} {% block title %} Help {% endblock %} {% block main %}
<div class="container">
  <h2 style="text-align: center;" class="heading-color">iIL13Pred Webserver</h2>
  <br>
  <div style="text-align: justify;" >
    <strong >
      This tool helps the user to predict whether a given peptide can induce IL-13 or not.
    </strong>
    <br />
  </div>
</div>
<br />
<hr>
<br />
<div class="container">
  <h3 style="text-align: center" class="heading-color">Predict</h3>
  
  <div style="text-align: justify;" >
    <strong>
      This module allows the users to predict whether a given peptide can induce IL-13 or not.
    </strong>
    <br /><br />
    <div>
      <img
        class="help-image"
        src="{{url_for('static', filename='images/predict.png')}}"
        alt="predict help"
      />
    </div>
  </div>
</div>
<br />
<hr><br />
<div class="container">
  <h4 style="text-align: center" class="heading-color"> Design</h4>
  <div style="text-align: justify;">
    <strong>
      This module generates mutants of a given peptide and predicts their IL-13 inducing probability. This server helps users to find the minimum number of mutations needed to boost the IL-13 induction potential of query peptides.
    </strong>
    <br /><br />
    <div>
      <img
        class="help-image"
        src="{{url_for('static', filename='images/design.png')}}"
        alt="predict help"
      />
    </div>
  </div>
</div>
<br /><hr><br />
<div class="container">
  <h4 style="text-align: center" class="heading-color">Protein Scan</h4>
  <div style="text-align: justify;">
    <strong>
      This module generates overlapping peptides from the query protein sequence and estimates their IL-13 induction activity. It helps the users to determine which segments of a protein have IL-13 induction ability.
    </strong>
    <br /><br />
    <div>
      <img
        class="help-image"
        src="{{url_for('static', filename='images/protein.png')}}"
        alt="predict help"
      />
    </div>
  </div>
</div>
<br><br><br>
<br /><br /><br />
{% endblock %}
