{% extends "base.html" %} {% block title %} APPred {% endblock %} {% block main
%}
<div class="container mainblock">
  <h1 class="heading-color" style="text-align: center">Welcome to iIL13Pred</h1>
  <hr />
  <br /><br />
  <div class="container" style="text-align: justify">
    <b
      ><i>
        Interleukin (IL)-13 is known to be associated with a number of
        infectious and non-infectious diseases. The fact that several anti-IL-13
        drugs for the possible treatment of asthma and Atopic dermatitis are in
        clinical trials points toward the importance of this cytokine. The
        recent association of IL-13 with COVID-19 severity has sparked interest
        in this cytokine. Therefore prediction and characterization of novel
        molecules which can regulate IL-13 induction might lead to novel
        therapeutics.
      </i>
    </b>
  </div>
  <br /><br />
  <hr />
  <div class="container" style="text-align: justify">
    <div class="row">
      <div class="col-sm-6 col-md-8">
        <h4>Some of the features of iIL13Pred are as follows:</h4>
        <ol>
          <li>
            <b>Predict : </b>The user can use this module to predict whether the
            given peptide can induce IL-13 or not.
          </li>
          <br />
          <li>
            <b>Design : </b>This module allows the user to generate all the
            possible single mutants of a given peptide and then predict whether
            the mutants have antiprotozoal activity or not.This module generates
            all the mutants of a given peptide. Then IL-13 induction ability of
            these peptides is predicted.
          </li>
          <br />
          <li>
            <b>Protein Scan : </b>This module generates all the possible
            overlapping peptides of a given protein sequence. These peptide
            sequences are then predicted to induce IL-13.
          </li>
        </ol>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
