{% extends "base.html" %}
{% block title %}
Protein
{% endblock %}
{% block main %}

<div class="container mainblock">
  <div class="container">
    <h2 class="heading-color" style="text-align: center"><i> Identifying IL-13 inducing peptides from protein sequence</i></h2>
    <hr>
  </div>
  <br>
  <div class="container" style="text-align: justify;">
    <h6><i>The input protein sequence is broken into all the possible overlapping peptides according to the length defined by the user. This will help to identify the peptide sequence that might have IL-13 induction ability.<br> For more help please visit <a style="text-decoration: none;" href="{{request.script_root}}/help">Help</a>
    </i></h6>
  </div>
  <br />
  <hr>
  <form method="POST" action="{{request.script_root}}/proteinScan" enctype="multipart/form-data">
    <div class="form-group">
      <p>
        <b>Type or paste one protein sequence in single letter code: </b>
      </p>
      <button type="button" class="btn btn-secondary btn-sm" onclick="protein_sample()">
        Example Sequence
      </button>
      <button type="button" class="btn btn-secondary btn-sm"
        onclick="document.getElementById('pro_input_area').value =''">
        Clear Input
      </button>
      <textarea class="form-control input_area" id="pro_input_area" name="sequence" rows="3"
        placeholder="type or paste here"></textarea>
    </div>
    <br>
    <hr>
    <div class="slidecontainer">
      <label for="myRange"><strong>Select the value for peptide fragment length:</strong></label><br>
      <input type="range" min="8" max="35" value="15" name="slider_value" class="slider" id="myRange">
      <p>Value: <span id="slider_value"></span></p>
    </div>
    <hr>
    <p>
      <h5>eXtreme Gradient Boosting Probability Threshold:
      </h5>
      (Enter value between 0.00 to 1.00)<b> :</b>

      <input
        type="number"
        step="0.01"
        name="threshold"
        id="threshold"
        min="0.00"
        max="1"
        required
      />
    </p>
    <br>
    <div style="margin-left: 30%;">
    <a href="{{request.script_root}}/proteinScan"><button type="button" class="btn btn-secondary btn-lg">
        Clear All
      </button></a>
    <button type="submit" class="btn btn-secondary btn-lg">
      Result
    </button>
    </div>
  </form>
</div>
<script type="text/javascript">
  var uploadField = document.getElementById("seqfile");

  uploadField.onchange = function () {
    var allowedExtensions = /(\.txt)$/i;
    var filePath = uploadField.value;
    if (!allowedExtensions.exec(filePath)) {
      alert('Invalid file type');
      uploadField.value = '';
      return false;
    }
    if (this.files[0].size > 1048576) {
      alert("File is too big!");
      this.value = "";
    }
  }
  document.getElementById("seqfile").addEventListener("change", function () {
    var file = new FileReader();
    file.onload = () => {
      document.getElementById("input_area").value = file.result;
    };
    file.readAsText(this.files[0]);
  });
</script>
<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("slider_value");
  output.innerHTML = slider.value;
  
  slider.oninput = function() {
    output.innerHTML = this.value;
  };
  </script>
  {% endblock %}